.searchBox {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 32px;
  &__{
    &input{
      width: 50%;
      margin: 0 10px;
      height: 2rem; 
    }
    &btn{
      height: 2.5rem;
    }
  }
}