.grid-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1px 1px;
 grid-template-areas: "grid-header grid-header" "grid-pic grid-name" "grid-pic grid-info" "grid-pic grid-btn"
}

.grid-header { grid-area: grid-header; }

.grid-pic { grid-area: grid-pic; }

.grid-name { grid-area: grid-name; }

.grid-info { grid-area: grid-info; }

.grid-btn { grid-area: grid-btn; }