<div class="grid-grid-container">
  <div class="grid-header">Edit page:<p>{{pokemon.name | titlecase}}</p>
  </div>
  <div class="grid-pic">
    <img class="poremonCard__pic" src="../../../assets/pictures/{{ pokemon.id }}.png" alt="{{ pokemon.name }}" />
  </div>
  <div class="grid-name"><label for="1">Name:</label><br><input id='1' type='text'
      value="{{pokemon.name | titlecase}}" />
  </div>
  <div class="grid-info">
    <div class="info__damage"><label for="2">Damage:</label><br><input id='2' type='text' value="{{pokemon.damage}}" />
    </div>
    <div class="info__date"><label for="3">Discovered:</label><br><input id='3' type='date' value="{{pokemon.date}}" />
    </div>
    <div class="info__other"><label for="4">Other info: </label><br><textarea id='4' rows="5" cols="33"
        type='text'>{{pokemon.additionalInfo}}</textarea>
    </div>
  </div>
  <div class="grid-btn">

    <app-button value='Save'>
    </app-button>
    <app-button value='Cancel'>
    </app-button>
    <br />
    <app-button (click)="onBack()" value='go back'>
    </app-button>
    <app-button value='info' [routerLink]="['/info',pokemon.id]">
    </app-button>
  </div>
</div>