<ul *ngFor="let pokemon of pokemons">
  <li>
    <div
      class="poremonCard"
      [ngClass]="{ poremonCard_red: pokemon.damage >= 50 }"
    >
      <h2 class="poremonCard__name">{{ pokemon.name | titlecase }}</h2>
      <img
        class="poremonCard__pic"
        src="../../../assets/pictures/{{ pokemon.id }}.png"
        alt="{{ pokemon.name }}"
      />
      <p class="poremonCard__damage">
        Damage: <span>{{ pokemon.damage }}</span>
      </p>
      <button>Catch</button>
      <button>Release</button>
    </div>
  </li>
</ul>
